{% extends 'backend/layouts/loginLayout.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block stylesheets %}{% endblock %}
{% block body %}
    <div class="account-bg">
        <div class="card-box m-b-0">
            <div class="text-xs-center m-t-20">
                <a href="{{ path('admin_dashboard') }}" class="logo">
                    <i class="zmdi zmdi-group-work icon-c-logo"></i>
                    <span>Portalen</span>
                </a>
            </div>
            <div class="m-t-10 p-20">
                <div class="row">
                    <div class="col-xs-12 text-xs-center">
                        <h6 class="text-muted text-uppercase m-b-0 m-t-0">Forgot password</h6>
                        {% for message in app.session.flashBag.get('noEmailFound') %}
                            <div class="alert alert-warning" role="alert">{{ message }}</div>
                        {% endfor %}

                        {% for flash_message in app.session.flashBag.get('success_forgot_pass') %}
                            <div class="alert alert-success">
                                {{ flash_message }}
                            </div>
                        {% endfor %}

                    </div>
                </div>
                {{ form_start(forgotPassForm, {'action': path('admin_forgot_password'), 'attr': { 'class': 'm-t-20' } }) }}

                {{ form_errors(forgotPassForm) }}

                    <div class="form-group row">
                        <div class="col-xs-12">
                            {{ form_widget(forgotPassForm.email, { 'attr': { 'class': 'form-control', 'placeholder': 'Email' } }) }}
                            {{ form_errors(forgotPassForm.email) }}
                        </div>
                    </div>
                    <div class="form-group text-center row m-t-10">
                        <div class="col-xs-12">
                            {{ form_widget(forgotPassForm.send, { 'label': 'Send password reset link', 'attr': { 'class': 'btn btn-success btn-block waves-effect waves-light' } }) }}
                        </div>
                    </div>
                {{ form_end(forgotPassForm) }}

            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <!-- end card-box-->

    <div class="m-t-20">
        <div class="text-xs-center">
            <p class="text-white">Don't have an account? <a href="javascript:void(0){# pages-register.html #}" class="text-white m-l-5"><b>Sign Up</b></a></p>
        </div>
    </div>
{% endblock %}
{% block customscripts %}{% endblock %}